# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretório de build
dist/
build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.swp
*.swo
.tmp/